<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<check if="{{ isset(@errors.color)}}">
    <p>{{@errors.color}}</p>
</check>
<form action="#" method="POST">
    <select name="color">
        <option value="none">--Select--</option>
        <repeat group="{{@colors}}" value="@colorOption">
            <option>{{@colorOption}}</option>
        </repeat>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>